
body, html{
    margin: 0px;
    padding: 0px;
    height:100%;
    font-family: 'Raleway', sans-serif;
    font-size:1.7vw;
    font-weight:400;
    text-align: center;
    
}
h2{font-size: 5vw; color: #000; font-weight: 700;}
h3{font-size: 3.5vw;color: #040303; font-weight: 600;}
h4{font-size: 2.5vw;color: #1C0A00;}

.i{ 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img2, .img3, .img4, .img5, .img6{
    display: flex;
    flex-direction: column;
    justify-content:end ;
    align-items:center;
}

.cont{
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
   1px -1px 0 #000,
  -1px -1px 0 #000;
}

.sec{
    padding: 2% 10%;
    background-image: url("./photos/content.png");
    color: white; 
}

span p{
    font-size: 7vw;
    letter-spacing: 15px;
    font-weight:900;
}

.img1{
    background-image: url("./photos/apexlegends.jpg");
    min-height: 100%;
    font-size: 4vw;
    font-weight: 900;
    padding-top: 10px;
    color: white;
}

.img2{
    background-image: url("./photos/bangalore.jpg");
    min-height: 100%;
    color: #F5EDDC;
}

.img3{
    background-image: url("./photos/octane.jpg");
    min-height: 100%;
    color: white;
}

.img4{
    min-height: 100%;
    background-image: url("./photos/bloodhound.jpg");
}

.img5{
    background-image: url("./photos/caustic.jpg");
    min-height: 100%;
    color: #9B0000;
}

.img6{
    background-image: url("./photos/revenant.jpg");
    min-height: 100%;
    color: #F5F0BB;
}
@media(max-width:450px){
    .img1{
        font-size: 4vh;
    }
    h2{font-size: 7vh;}
    h3{font-size: 5.5vh;}
    h4{font-size: 3.5vh;}
    .sec{
        min-height: 100%;
    }
    body, html{
        font-size:2vh;
    }   
}
@media (max-width:950px){
    .img3{
        background-image: url(./photos/octane2.jpg);
    }
}

